@import '../../scss/typography';
@import '../../scss/colors';

.Pagination{
    height:4rem; //64px
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-end;
    button{
        margin:0;//va fi de scos cand nu se mai aplica 
        border-radius: 0.5rem; //8px
        border: 1px solid $beige-500;
        background-color: $white;
        &:hover{
            background-color: $beige-500;
        }
    }
    .page-nav-btn{
        width:3rem; //48px;
        height:2.5rem; // 40px; 
        display:flex; 
        justify-content: center;
        align-items: center;
        img{
            width:1rem;
            height:1rem;
        }
    }
    .all-page-btns{
        display:flex;
        flex-direction:row;
        gap:0.5rem; //8px;
        .page-btn{
            width:2.5rem; //40px;
            height:2.5rem; //40px;
            display:flex; 
            justify-content: center;
            align-items: center;
            @extend .text-preset-4; 
            color:$grey-900;
        }
    }
}