@import '../../scss/typography';
@import '../../scss/colors';
@import '../../scss/breakpoints';

.Pagination{
    height:4rem; //64px
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-end;
    button{
        margin:0;//va fi de scos cand nu se mai aplica 
        border-radius: 0.5rem; //8px
        border: 1px solid $beige-500;
        background-color: $white;
        color:$grey-900;
        padding:1rem;
        &:hover{
            background-color: $beige-500;
            color:$white;
            cursor: pointer;
            svg{
                color:$white
            }
        }
    }
    .page-nav-btn{
        width:3rem; //48px;
        height:2.5rem; // 40px; 
        display:flex; 
        justify-content: center;
        align-items: center;
        
        svg{
            color:$grey-500;
            width:0.375rem;
            height:0.7rem;
        }
    }
    .all-page-btns{
        display:flex;
        flex-direction:row;
        gap:0.5rem; //8px;
        .page-btn{
            width:2.5rem; //40px;
            height:2.5rem; //40px;
            display:flex; 
            flex-direction: row;
            justify-content: center;
            align-items: center;
            @extend .text-preset-4; 
        }
        .active{
            background-color: $grey-900;
            color:$white;
            border:unset;
        }
    }
}

@media (min-width: $tablet-size){
    .Pagination{
        .page-nav-btn{
            width: 5.875rem; //94px;
            gap: 1rem;
        }
    }
}