@import "../../scss/colors";
@import "../../scss/typography";


.input-field{
    background-color: white;
    width: 100%;
    .field-title{
        color: $grey-500;
        @include text-preset-5-bold;
        margin-bottom: 4px;
    }
    .input-box{
        height: 45px;
        padding: 12px 20px;
        border: 1px solid $beige-500;
        border-radius: 0.5rem;
        select, input{
            width: 100%;
            border:none;
            outline: none;
        }
        input::placeholder{
            @include text-preset-4;
            color:$beige-500;
        }
        .prefix-decorator, .color-tag-decorator, .icon-decorator{
            display:none;
        }
    }
    .helper-text{
        @include text-preset-5; 
        color: $grey-500;
        text-align: right;
        margin-top: 4px;
    }
}