$beige-500: #98908b;
$beige-100: #f8f4f0;
$grey-900: #201f24;
$grey-500: #696868;
$grey-300: #b3b3b3;
$grey-100: #f2f2f2;
$green: #277c78;
$yellow: #f2cdac;
$cyan: #82c9d7;
$navy: #626070;
$red: #c94736;
$purple: #826cb0;
$turquoise: #597c7c;
$brown: #93674f;
$magenta: #934f6f;
$blue: #3f82b2;
$navy-grey: #97a0ac;
$army-green: #7f9161;
$gold: #cab361;
$orange: #be6c49;
$white: #ffffff;
