@import "../../../scss/breakpoints";
@import "../../../scss/colors";
@import "../../../scss/typography";

.sidebar-item{
    width: 4.2875rem;//68.6px;
    height: 2.75rem;// 44px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem; //8px;
    border-radius: unset;
    background-color: $grey-900;
    color: $grey-300;
    border:none;
    @include text-preset-5-bold;
    &:hover{
        color:$grey-100;       
        transition: 0.6s ease-out; 
        cursor: pointer;
    }

    .sidebar-item-icon{
        width: 1.5rem; //24px;
        height: 1.5rem; //24px;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .sidebar-item-label{
        display:none;
    }
}

.selected, .selected:hover{
    background-color: $beige-100;
    color:$grey-900;
    border-bottom: 4px solid $green;
    border-radius: 8px 8px 0 0;

    svg{
        color:$green;
    }
}

@media (min-width: $tablet-size){
    .sidebar-item{
        width: 6.5rem;//104px;
        height: 4.125rem;//66px;
        gap:4px;

        .sidebar-item-label{
            display:block;
        }
    }
}

@media (min-width: $desktop-size){
    .sidebar-item{
        width: 17.25rem;//276px;
        height: 3.5rem;//56px;
        flex-direction:row;
        padding: 1rem 0 1rem 2rem;
        gap: 1rem;
        @include text-preset-3;
    }
    .selected, .selected:hover{
        border-bottom:none;
        border-left: 4px solid $green;
        border-radius: 0 12px 12px 0;
    }
}