@import "../../../scss/breakpoints";
@import "../../../scss/colors";

.sidebar-container{
    background-color: $grey-900;
    padding:0.5rem 1rem 0 1rem;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    border-radius: 8px 8px 0 0;
}

@media (min-width: $tablet-size){
    .sidebar-container{
        padding:0.5rem 2.5rem 0 2.5rem; //8px 40px 0 40px; 
    }
}

@media (min-width: $desktop-size){
    .sidebar-container{
        flex-direction: column;
    }
}